body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.headingleft{
    padding-left: 55px;
    font-size:40px;
    height: 0px;
    margin-right: 30px;
    margin-bottom: 1px;
}
a{
text-decoration: none;
padding-left:35px;
font-size: 30px;
color:#1f153461;
}
.nav{
    
    padding-right: 230px;
    
    height: 0px;
    float: right;
   
}
.img1{
    float: right;
    padding-top: 100px;
    padding-right: 200px;
}
.text0{
    font-size: 35px;
    padding-top: 200px;
    margin-top: 10px;
    padding-left: 50px;
}
button{
    font-weight: bold;
    font-size: 20px;
    border:20px solid #458FF6;
    border-radius: 70px;
    color: white;
    background-color: #458FF6
}

.tag{
    color: white;
    background-color: #458FF6;
    border: 10px solid #458FF6;
    border-radius: 55%;
margin-right: 10px;
}
.card{
    padding-top: 50px;
    

padding-left: 120px;




}
.head1{
    padding-top: 200px;
    text-align: center;
 font-size: 30px;
}
.card:after{
    content: "";
    display: table;
    clear: both;

}
*{
    box-sizing: border-box
}


.container{
    box-shadow: 0px 0px 1px 0px;
margin-left: 50px;
width: 27%;
padding: 10px;
float:left;

height: 354px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-style: normal;
font-weight: 300;
font-size: 25px;
margin-bottom: 50px;
}
.containerimg{
    
margin-top: 20px;
width: 91.98px;
height: 90px;
}
.btn1{
text-align: center;
margin-left: 47%;




}
p{
   color:  #7D7987;
   mix-blend-mode: normal;
}
.img2{
float: left;


}
.text1{
    margin-left: 900px;
    font-size: 35px;
    padding-right: 50px;
}
.third{
    padding-top: 225.04px;
    padding-bottom: 10%;
}
.img3{
    float: right;
}
.text2{


    margin-right: 900px;
    font-size: 35px;
    padding-left: 50px;
}
.third1{
    margin-top: 222px;
}
.feedback-box{
   width: 1120px;
   height: 425px;
background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
border-radius: 24px;
margin-left: 400px;
margin-top: 10%;
font-size: 24px;

color: white;
}
.user-name{
    padding-top: 90px;
   
    padding-left:100px;
    margin:1px;
    position: absolute;
}
.feedback{
    padding-top: 50px;
    padding-right:100px;
    float: right;
    color: white;
}
.heading-cust{
  
 
    text-align: center;
    padding-top : 50px;
}
.h-name{
    margin-top: 10px;

margin-left: 150px;

}
.h-designation{
    margin-left: 150px;
 
}
.pro-pic{
    position:absolute;
}
hr{
width: 70px;

COLOR: white;
border-radius: 6px;

}
.container1{
margin-right: 50px;
margin-left:60px;
box-shadow: inset 0px 20px 4px 0px;
    float: left;
}
.head-article{

text-align: center;


}
.card1{
    padding-top:55px;
    padding-left: 250px;
}
.btn4{
    color:#458ff6;
    border: 20px transparent;
background-color: transparent;
text-align: center;



}
.ending{
background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);;
margin-top: 500px;
color: white;


}
.first1{
    padding-top:100px;
   margin-left: 100px;
    margin-top: 500px;
 
}

.paragraph3{
    color: white;
}